@import "./../themes/all";

.fact-card {
    border-style: solid;
    border-color: black;
    border-width: 0.3px;
    padding: 10px;
    margin: 10px;
}

.fact-card:hover {
    background-color: $hover;
    color: black;
}

.card-selected {
    background-color: $selected;
    color: white;
}
