body {
    font-family: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;
}

.left-bar {
    border: solid;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-color: black;
}
