body {
    font-family: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;
}

.row {
    margin-top: 10px;
}

.spinner {
    margin-left: 45%;
    margin-top: 100px;
}

.ms-Spinner-circle {
    opacity: 100;
    background-color: white;
}

.list-title {
    padding-left: 10px;
}

.help-icon {
    font-size: 15px;
    padding-left: 7px;
}

.no-similar {
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
}