@import "./../themes/all";

.selected {
    background-color: $selected;
    color: white;
    cursor: pointer;
}

.selected:hover {
    background-color: $hover;
    color: white;
}
.highlighted {
    background-color: $highlighted;
    cursor: pointer;
}

.highlighted:hover {
    background-color: $hover;
}

