body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }

    .col-xl-5 {
        width: 41.67777777%;
    }

    .col-xl-3-5 {
        width: 29%;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

p.card-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}