@model FactOrFictionWeb.Models.TextBlobModel

@{
    ViewBag.Title = "Details";
}


<div>
    @Html.Partial("../Statement/ListDetails", Model.Statements)
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "TextBlob")
</p>
