@model FactOrFictionCommon.Models.TextBlobModel

@{
    ViewBag.Title = "Details";
}

<h2>Narrative</h2>

<div>
    <h4>@Model.Text</h4>
    <hr />
    @Html.Partial("../Statement/ListDetails", Model.Statements)
</div>

<h2>Entities</h2>
<div>
    @Html.Partial("../Entity/ListDetails", Model.Entities)
</div>

<p>
    @Html.ActionLink("Go to My Narratives", "Index", "TextBlob")
</p>