@model FactOrFictionCommon.Models.TextBlobModel

@{
    ViewBag.Title = "Details";
}

<h2>Narrative</h2>


<div>
    <h4>@Model.Text</h4>
    <hr />
    @Html.Partial("../Statement/ListDetails", Model.Statements)
</div>

