@model IEnumerable<FactOrFictionWeb.Models.Statement>

@{
    ViewBag.Title = "Details";
}


<div>
    <label class="control-label" for="table">Here are your statements:</label>
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>
                    Statement
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classification)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Statement", new {id = item.Id}, null)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
